<!DOCTYPE html>
html
    head
        title Flat shoes
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
    body
        
        div.top.clearfix
            div.layout
            
                div.top__left 
                    ul
                        li 
                            a(href="#") ENG
                        li 
                            a(href="#") IND
                div.top__right
                    ul
                        li 
                            a(href="#") USD
                        li 
                            a(href="#") IDR
        header.header.clearfix
            div.layout
                div.logo 
                    h1.logo__header Your Logo
                    h1.logo__content ecommerce
                    div.logo__line
                    div.logo__line
                    div.logo__line
                    div.logo__line
                div.header__content
                    nav.menu.clearfix
                        div.menu__left 
                            p.menu__content  <i class="icon-user"></i> HELLO, YOU CAN <b>LOGIN</b> OR 
                                span.menu__register REGISTER
                            p.menu__content <i class="icon-phone"></i> Customer Service : 
                                span.menu__phone +88 888 888 888
                            div.menu__search
                                i.icon-search
                                input(type="text" placeholder="SEARCH")                             
                        div.menu__right  
                            div.cart                    
                                div.cart__items.clearfix
                                    div.cart__wishlist <i class="icon-heart"></i> wishlist
                                    div.cart__shopping <i class="icon-cart"></i> shopping cart:
                                        span.cart__summa $345.00
                                        div.cart__special  2
                                div.cart__items.clearfix
                                    div.cart__left
                                        a(href="#")
                                            div.cart-single.clearfix
                                                div.cart-single__size 
                                                    img(src="img/img_size.jpg" width="50" height="50" alt="flat shoes")
                                                div.cart-single__column
                                                    div.cart-single__header flat shoes
                                                    div.cart-single__price $189.00
                                                div.cart__close
                                                    a(href="#" alt="close")
                                                        i.icon-close
                                    div.cart__right.clearfix
                                        a(href="#")
                                            div.cart-single__size 
                                                img(src="img/img_size.jpg" width="50" height="50" alt="flat shoes")
                                            div.cart-single__column
                                                div.cart-single__header hot pants
                                                div.cart-single__price $156.00
                                            div.cart__close
                                                a(href="#" alt="close")
                                                    i.icon-close
                                div.cart__items.clearfix
                                    div.cart__show-all SHOW ALL PRODUCTS
                                        i.icon-plus
                                    div.cart__check-out CHECK OUT
                                        i.icon-checkout                                
                    nav.categories.clearfix 
                       -cats = ["JACKETS", "SWEATERS", "DRESSES", "SKIRTS", "PANTS", "SHORTS", "SHOES", "ACCESSORIES"]                    
                       ul
                           each cat in cats
                               li 
                                   a(href="#") #{cat}
        main
            div.blocks
                div.layout.clearfix
                    div.blocks__column1.clearfix
                        img(src="img/img_may_collection.jpg" width="287" height="680" alt="may collection")
                        div.block-col1
                            h3.block-col1__header MAY
                            div.block-col1__content Collection
                            a(href="#").btn See products
                            
                    div.blocks__column2
                        div.blocks__column21.clearfix     
                            div.blocks__column211     
                                img(src="img/img_fashion.jpg" width="567" height="362")
                            div.blocks__column212.clearfix                                
                                img(src="img/img_vero_moda.jpg" width="290" height="362")
                                div.block-col2
                                    div.block-col2__content New
                                    div.block-col2__header Arrivals
                                    a(href="#").btn See products
                        div.blocks__column22.clearfix
                            div.blocks__column221     
                                img(src="img/img_black_bag_fashion.jpg" width="283" height="297")
                            div.blocks__column222                                
                                img(src="img/img_fashionable_shoes.jpg" width="571" height="297")
            section.products
                div.layout.clearfix
                    header.products__header
                        a(href="#" alt="FEATURED") 
                            h2.products__header--active FEATURED                        
                            i.icon-arrowdown
                        div.products__separate
                        a(href="#" alt="FEATURED")
                            h2 ARRIVALS                        
                            i.icon-arrowdown
                        p.products__text "Whoever said money can't buy happiness simply didn't know WHERE TO SHOP"
                                        
                    -products = [{name:"BLAZER SLIMFIT",filename:"img/img_photo11.jpg"},{name:"SLIM PANTS",filename:"img/img_photo12.jpg"},{name:"SWEATSHIRT",filename:"img/img_photo13.jpg"}, {name:"FORMAL BLOUSE",filename:"img/img_photo14.jpg"},{name:"WOMEN ARMY PANTS",filename:"img/img_photo21.jpg"},{name:"SUMMER PANTS",filename:"img/img_photo22.jpg", price_old: "$329.00"},{name:"COLLAR CHIFFON",filename:"img/img_photo23.jpg"},{name:"SLIM JEANS",filename:"img/img_photo24.jpg"}]
                    
                    div.products__content                    
                        each product in products 
                            div.product
                                div.product__photo
                                    img(src="#{product.filename}" width="285" height="300" alt="#{product.name}")
                                    img(src="img/bg_placehold.png" width="285" height="300" alt="#{product.name}").product__placeholder
                                div.product__divider
                                div.product__name #{product.name}
                                
                                
                                div.product__price
                                    if product.price_old
                                        span.product__price-old #{product.price_old}                         
                                    
                                    $279,00   
                                div.product-selected
                                    div.product-selected__prev                                    
                                        a(href="")
                                            i.icon-arrowleft
                                    div.product-selected__next   
                                        a(href="")
                                            i.icon-arrowright                                            
                                    a(href="#").product-selected__addtocart add to cart
                                    div.product-selected__wishlist
                                        a(href="#") <i class="icon-heart"></i> add to wishlist
                    div.products__more 
                        a(href="#") <i class="icon-plus-black"></i> LOAD MORE PRODUCTS
            div.choose-category
                div.layout.clearfix
                    h3.choose-category__header CATEGORY
                    div.choose-category__nav
                        -cats = [{name:"JACKETS",url:"#"},{name:"T-SHIRTS",url:"#"},{name:"SKIRTS",url:"#"},{name:"PANTS",url:"#"},{name:"SHOES",url:"#"},{name:"ACCESSORIES",url:"#"}]
                        ul
                            each cat in cats
                                li
                                    a(href="#{cat.url}") #{cat.name}
                        
            div.latest-viewed
                div.layout.clearfix
                    h4.latest-viewed__header LATEST VIEWED
                  
                    -products1 = [{name:"T-SHIRT BLUE",filename:"img/img_photo31.jpg"},{name:"BASIC T-SHIRT",filename:"img/img_photo32.jpg",price_old:"$329.00"},{name:"COLLAR VERTICAL STRIPES",filename:"img/img_photo33.jpg"},{name:"COLOR SHIRT",filename:"img/img_photo34.jpg"},{name:"VERY ELEGANT SHIRT",filename:"img/img_photo35.jpg"}] 
                
                    div.latest-viewed__content 
                        each product1 in products1
                            div.product.product--mini
                                div.product__photo--mini
                                    img(src="#{product1.filename}" width="228" height="238" alt="#{product1.name}")
                                    img(src="img/bg_placehold2.png" width="228" height="238" alt="#{product1.name}").product__placeholder
                                div.product__divider--mini
                                div.product__name--mini #{product1.name}


                                div.product__price
                                    if product1.price_old
                                        span.product__price-old #{product1.price_old}                         

                                    $279,00       
                          
                        
        footer.main-footer
            div.layout.cleafix            
                div.logo.logo--yellow
                    h1.logo__header Your Logo
                    h1.logo__content ecommerce
                    div.logo__line
                    div.logo__line
                    div.logo__line
                    div.logo__line
        